.top-cart{ 
    margin: 10px;
}
.welc-header{
    font-size: 3rem;
    margin: 3rem;
    margin-left: 0rem;
}

.home-sec{
    margin-top: 10%;
}
.product-link{
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}