.top-cart{ 
    margin: 10px;
}
.welc-header{
    font-size: 3rem;
    margin: 3rem;
    margin-left: 0rem;
}

.home-sec{
    margin-top: 10%;
}
.product-link{
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Footer */
.footer-sec{
    margin-top: 15%;
}


/* Login Form */
.form-label { 
    font-size: 1.5rem;
}
/* Reg Error */
.error-msg{ 
    /* visibility: hidden; */
    color: red;
    font-size: 1.2rem;
}


/* Footer */
.footer-style{ 
    margin-top:4rem;
    padding-top:10%;
}